@mixin container {
    width: 280px;
    margin: 0 auto;
    @media ($tablet-widths) {
        width: 620px;
    }
    @media ($desktop-widths) {
        width: 940px;
    }
}
@mixin clearfix {
    &:after {
        display: table;
        clear: both;

        content: "";
    }
}
// @mixin main-font ($font-size, $line-height, $font-weight) {
//     font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
//     font-size: $font-size;
//     font-weight: $font-weight;
//     line-height: $line-height;
// }
