.control {
	position: relative;

	display: inline-block;

	padding-left: 1.5rem;

	cursor: pointer;

	color: #555;
	@media ($desktop-widths) {
		padding-left: 12px;
	}
	& input {
		position: absolute;
		z-index: -1;

		opacity: 0;
		/* Put the input behind the label so it doesn't overlay text */
	}
	// общий
	&__indicator {
		position: absolute;
		top: -3px;
		left: -47px;

		display: block;

		width: 35px;
		height: 35px;

		-webkit-user-select: none;
		   -moz-user-select: none;
		    -ms-user-select: none;
		        user-select: none;
		text-align: center;

		color: #eee;
		border: 2px solid $grey-border;
		border-radius: 2px;
		background-color: #fff;
		background-repeat: no-repeat;
		background-position: center center;
		background-size: 50% 50%;

		font-size: 65%;
		line-height: 1rem;
		@media ($tablet-widths) {
			left: -35px;
		}
		@media ($desktop-widths) {
			top: -5px;
			left:-47px;
		}
		&:hover {
			border-color: $navi-blue;
            transition: 0.3s;
		}

		&--radio {
			border-radius: 50px;
			&:after {
				position: absolute;
				top: 10px;
				left: 10px;

				display: block;
                opacity: 0;

				width: 15px;
				height: 15px;

				content: "";

				border-radius: 15px;
				background-color: $pink;
			}
		}
	}
}
