.radio {
    &--app-edition {
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 20px;
        &:checked ~ .control__indicator {
            border-color: $pink;
            transition: 0.3s;
        }
        &:checked ~ .control__indicator:after {
            opacity: 1;
            transition: 0.3s;
        }
    }
}
