.reviews {
    padding-bottom: 30px;
    @media ($tablet-widths) {
        padding-bottom: 7px;
    }
    @media ($desktop-widths) {
        margin-bottom: -28px;
        padding-top: 69px;

        background: url("../img/icon-quotes.svg") no-repeat center 0;
    }
}
