.advantages {
	margin-top: -55px;
	background: $grey-bg;
	@media ($tablet-widths) {
		margin-top: 0;
	}
	&__img {
		&--main {
			@media ($mobile-widths-only) {
				margin-bottom: -46px;
			}
		}
	}
	&::before {
		display: block;
		width: 100%;
		height: 79px;
		content: '';
		background: url('../img/bg-triangle-white.svg') no-repeat;
		background-size: 100% auto;
		@media ($tablet-widths) {
			position: absolute;
		}
		@media ($desktop-widths) {
			height: 185px;
		}
	}
}