.contacts {
    display: flex;
    flex-direction: column;

    padding: 21px 0 17px;

    text-align: center;

    @include container;
    flex-wrap: wrap;
    @media ($tablet-widths) {
        flex-direction: row;

        min-height: 423px;
        margin-bottom: -46px;
        padding-top: 5px;

        justify-content: space-around;
    }
    @media ($desktop-widths) {
        margin-bottom: -79px;

        justify-content: space-between;
    }
    &__title {
        margin-bottom: 38px;

        color: $navi-blue;

        font-family: $main-font;
        font-size: 24px;
        font-weight: 300;
        line-height: 28px;
        @media ($tablet-widths) {
            width: 480px;
            margin-bottom: 17px;

            font-size: 40px;
            line-height: 49px;
        }
        @media ($desktop-widths) {
            width: 700px;
            margin-top: 59px;
            padding: 0 200px;

            font-size: 50px;
            line-height: 60px;
            //   margin-bottom: -18px;
        }
    }
    &__item {
        display: flex;
        flex-direction: column;

        margin-bottom: 20px;

        color: $navi-blue;

        font-family: $main-font;
        font-size: 18px;
        font-weight: 900;
        line-height: 18px;
        @media ($tablet-widths) {
            margin-bottom: 23px;
        }
        @media ($desktop-widths) {
            width: 270px;
            margin-bottom: 41px;
        }
        &--tel {
            @media ($tablet-widths) {
                padding-left: 17px;
            }
        }
        &--address {
            @media ($tablet-widths) {
                width: 290px;
            }
            @media ($desktop-widths) {
                margin-left: 28px;
            }
        }
        &--link {
            margin-bottom: 23px;
            @media ($tablet-widths) {
                padding-left: 35px;
            }
            @media ($desktop-widths) {
                margin-right: 15px;

                order: 1;
            }
        }
    }
    &__data {
        color: $pink;

        font-size: 24px;
        font-weight: 300;
        line-height: 37px;
        @media ($tablet-widths) {
            margin-top: 3px;
        }
        @media ($desktop-widths) {
            margin-top: 22px;
        }
        &--street {
            margin-top: 6px;

            line-height: 30px;
            @media ($desktop-widths) {
                margin-top: 23px;
            }
        }
    }
}
