.download {
    min-height: 240px;

    text-align: center;

    background: #1d2631;
    @media ($tablet-widths) {
        background: none;
    }
    @media ($desktop-widths) {}
    &__description {
        color: #ffffff;

        font-family: $main-font;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
        @media ($tablet-widths) {
          width: 300px;
            font-size: 18px;
        }
    }
}
