.legend {
	width: 100%;
	text-align: center;
	text-transform: uppercase;
	color: $pink;
	font-family: $main-font;
	font-size: 14px;
	font-weight: 400;
	line-height: 19px;
	position: relative;
	background: transparent;
	@media ($tablet-widths) {
		position: absolute;
		background: #ffffff;
		width: auto;
		top: -12px;
		padding: 0 23px;
	}
	&--events {
		display: table;
		float: none;
		margin: 0 auto;
		left: 50%;
		padding: 0 23px;
		top: 52px;
		transform: translate(-50%, 0);
		@media ($tablet-widths) {
			top: -12px;
			width: 70%;
		}
		@media ($desktop-widths) {
			width: 47%;
		}
		//        position: relative;47
		//        top: 54px;
		//        @media ($tablet-widths) {
		//            position: static;
		//        }
	}
	&--user-contacts {
		display: none;
		@media ($tablet-widths) {
			display: block;
			position: absolute;
			margin: 0px auto;
			left: 50%;
			padding: 0px 31px;
			top: -12px;
			transform: translate(-50%, 0px);
		}
		@media ($desktop-widths) {
			top: -10px;
		}
	}
	&--app-edition {
		display: table;
		float: none;
		margin: 0 auto;
		left: 50%;
		padding: 0 23px;
		top: 55px;
		transform: translate(-50%, 0);
		@media ($tablet-widths) {
			top: -12px;
			width: 60%;
		}
		@media ($desktop-widths) {
			top: -10px;
			width: 87%;
		}
		//        position: relative;
		//        top: 54px;
		//        @media ($tablet-widths) {
		//            position: static;
		//
		//            width: auto;
		//        }
		//        @media ($desktop-widths) {
		//            width: 104%;
		//            max-width: none;
		//            padding: 0;
		//
		//            white-space: nowrap;
		//        }
	}
	&--user-emotions {
		display: table;
		float: none;
		margin: 0 auto;
		left: 50%;
		padding: 0 23px;
		transform: translate(-50%, 0);
		@media ($tablet-widths) {
			padding: 0 39px;
		}
	}
}