.os-icons {
    display: flex;

    width: 205px;
    margin-top: 32px;
    margin-right: auto;
    margin-bottom: 18px;
    margin-left: auto;

    align-items: flex-end;
    justify-content: space-between;
    @media ($tablet-widths) {
        margin-top: 43px;
margin-bottom: 33px;
    }
    @media ($desktop-widths) {
        margin-top: 64px;
        margin-bottom: 53px;
        margin-left: 47px;
    }
}
