.photo {
    &__items {
        display: flex;
        flex-direction: column;

        justify-content: space-around;
        @media ($tablet-widths) {
            flex-direction: row;

            flex-wrap: wrap;
            justify-content: space-between;
        }
    }
    &__item {
        // все посты с фотками кроме панорамы
        margin-bottom: 20px;
        @media ($tablet-widths) {
            width: 300px;
            margin-bottom: 20px;
        }
        @media ($desktop-widths) {
            margin-bottom: 55px;
        }
    }
    // блок с текстом (&__slogan) над блоком с панорамой
    &__intro {
        padding: 46px 0 47px;

        background: #ffffff;
        @media ($tablet-widths) {
            padding: 93px 0 74px;
        }
        @media ($desktop-widths) {
            padding-bottom: 86px;
        }
        &--outro {
            padding: 23px 0 42px;
            @media ($tablet-widths) {
                padding: 27px 0 50px;
            }
            //  почему не могу переопределить??
            @media ($desktop-widths) {
                padding: 26px 0 70px;
            }


        }
        &--outro_photo-page {
            @media ($tablet-widths) {
                    padding: 48px 0 68px;
            }
            @media ($desktop-widths) {
                    padding: 0 0 65px;
            }
        }
    }
    &__slogan {
        width: 250px;
        margin: 0 auto;

        text-align: center;

        color: $navi-blue;

        font-family: $main-font;
        font-size: 14px;
        font-weight: 400;
        line-height: 30px;
        @media ($tablet-widths) {
            width: 450px;

            font-size: 18px;
        }
        @media ($desktop-widths) {
            width: 640px;
        }
        &--outro p {
            margin: 0;
       }
        & p {
            @media ($desktop-widths) {
                margin: 2px 0 0;
            }
        }
    }
}
