.t-cell {
    padding: 15px 22px 14px;

    border: 2px solid $grey-border;
    background: #ffffff;
    @media ($tablet-widths) {
        display: table-cell;

        padding: 7px 10px;
    }
    @media ($desktop-widths) {
        padding: 14px 10px;
    }
    &--border-top_hidden {
        border-top: none;
    }
}
