.user-emotions {
	@media ($mobile-widths-only) {
		@include container;
		margin-bottom: 32px;
	}
	@media ($tablet-widths) {
		margin-bottom: 65px;
	}
	@media ($desktop-widths) {
		margin: 0 0 65px;
	}
	&__title {
		margin-bottom: 13px;
	}
}