.advantages {
  background: $grey-bg;
  // &__title {
  //   // margin-bottom: 12px;
  //   // font-family: $main-font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  //   font-family: $main-font;
  //   font-size: 18px;
  //   line-height: 24px;
  //   font-weight: 900;
  //    color: #000000;
  //   @media ($desktop-widths) {
  //     font-size: 30px;
  //   }
  // }
  // &__description {
  // //     margin: 0;
  //     font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  //     color: $navi-blue;
  //     @media ($desktop-widths) {
  //       font-size: 18px;
  //       line-height: 30px;
  //     }
  //   }
}
