.advantages {
  min-height: 496px;
  background-color: #f2f2f2;
  text-align: center;
  @media ($desktop-widths) {
      min-height: 580px; 
  }
  &__wrapper {
    @include container;
  }
  &__items {
    @media ($tablet-widths) {
      padding: 0;
      display: flex;
      flex-direction: column;
      height: 496px;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: flex-start;
      align-content: space-between;
    }
    @media ($desktop-widths) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
  }
  &__item {
    padding: 4px 0;
    width: 280px;
    @media ($tablet-widths) {
      text-align: left;
      width: 310px;
    }
    @media ($desktop-widths) {
      display: flex;
      flex-direction: column;
      align-items: center;
      //   padding-top: 370px;
      width: 240px;
      //   min-height: 150px;
      text-align: center;
    }
    &--bottom {
      @media ($tablet-widths) {
        margin-bottom: 41px;
      }
      @media ($desktop-widths) {
        margin-bottom: 0;
      }
    }
  }
  &__img {
    display: none;
    @media ($desktop-widths) {
      display: block;
      margin-bottom: 19px;
    }
  }
  &__title {
    margin-bottom: 12px;
    @include main-font(18px, 24px, 900) color: #000000;
    @media ($desktop-widths) {
      font-size: 30px;
    }
  }
  &__description {
    margin: 0;
    @include main-font(14px, 24px, 400);
    color: #283645;
    @media ($desktop-widths) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  &__main-img {
    margin-top: 36px;
    @media ($tablet-widths) {
      order: -1;
      width: 267px;
      background: blue;
      height: 478px;
      margin-top: 17px;
    }
    @media ($desktop-widths) {
      display: none;
    }
  }
}
// .advantages::before {
//     display: block;
//     position: absolute;
//     width: 100%;
//     height: 95px;
//     content: "";
//     background: red;
// }
