.app-edition {
  @media ($tablet-widths) {
    order: -2;
  }
  @media ($desktop-widths) {
    width: 435px;
  }
}
.app-edition__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @media ($mobile-widths-only) {
    @include container;
  }
}
