.btn {
  display: block;
  text-decoration: none;
  font-family: $main-font;
  font-size: 18px;
  outline: none;
  &--download-app {
    line-height: 21px;
    font-weight: 900;
    color: #ffffff;
    border: 3px solid #ffffff;
    padding: 15px;
    border-radius: 30px;
    @media ($tablet-widths) {
      width: 260px;
    }
    @media ($desktop-widths) {
      font-size: 21px;
    }
    &:hover {
        background: #ffffff;
        color: $pink;
    }
    &:active {
        color: rgba(210, 40, 86, 0.3);
    }
  }
  &--like {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 13px;
    background: url("../img/icon-heart.svg") no-repeat 50% 50%;
  }
  &--filter {
    width: 280px;
    line-height: 18px;
    font-weight: 900;
    color: $pink;
    border: 3px solid $pink;
    padding: 15px;
    border-radius: 30px;
    background: $grey-bg;
    @media ($tablet-widths) {
      width: 260px;
    }
    @media ($desktop-widths) {
      width: 183px;
    }
    &:hover {
        background: $pink;
        color: #ffffff;
    }
    &:active {
        color: #e08195;
    }
  }
  &--filter_disabled {
    opacity: 0.1;
    border-color: $navi-blue;
    color: $navi-blue;
  }
  &--filter-reset {
      color: $navi-blue;
      border-color: $navi-blue;
      &:hover {
          background: #ffffff;
          color: $navi-blue;
      }
      &:active {
          background: $navi-blue;
          color: #ffffff;
      }
  }
  &--submit {
    width: 280px;
    line-height: 33px;
    font-weight: 900;
    color: #ffffff;
    padding: 15px;
    background: $green-btn;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    @media ($tablet-widths) {
      width: 300px;
    }
    &:hover {
        background: #1c9b5e;
    }
    &:active {
        color: #7dbd99;
    }
  }

  &--popup {
    width: 250px;
    line-height: 33px;
    font-weight: 900;
    color: #ffffff;
    padding: 15px;
    background: $green-btn;
    border: none;
    border-radius: 2px;

    text-transform: uppercase;
    margin: 0 auto;
    @media ($tablet-widths) {
      width: 270px;
    }
    @media ($desktop-widths) {
      width: 430px;
    }
  }
}
