.btn {
    display: block;

    text-decoration: none;

    outline: none;

    font-family: $main-font;
    font-size: 18px;
    &--download-app {
        padding: 14px;

        color: #ffffff;
        border: 3px solid #ffffff;
        border-radius: 30px;

        font-weight: 900;
        line-height: 21px;
        @media ($tablet-widths) {
            width: 265px;
        }
        @media ($desktop-widths) {

            font-size: 21px;
        }
        &:hover {
            color: $pink;
            background: #ffffff;
            transition: 0.3s;
        }
        &:active {
            color: rgba(210, 40, 86, 0.3);
            transition: 0.3s
        }
    }
    &--like {
        overflow: hidden;

        width: 14px;

        white-space: nowrap;
        text-indent: 100%;

        background: url("../img/icon-heart.svg") no-repeat 50% 50%;
        background-size: contain;

    }
    &--filter {
        width: 280px;
        padding: 15px;

        color: $pink;
        border: 3px solid $pink;
        border-radius: 30px;
        background: $grey-bg;

        font-weight: 900;
        line-height: 18px;
        @media ($tablet-widths) {
            width: 260px;
        }
        @media ($desktop-widths) {
            width: 183px;
        }
        &:hover {
            color: #ffffff;
            background: $pink;
            transition: 0.3s;
        }
        &:active {
            color: #e08195;
            transition: 0.3s;
        }
    }
    &--filter_disabled {
        opacity: 0.1;
        color: $navi-blue;
        border-color: $navi-blue;
    }
    &--filter-reset {
        color: $navi-blue;
        border-color: $navi-blue;
        &:hover {
            color: $navi-blue;
            background: #ffffff;
            transition: 0.3s;
        }
        &:active {
            color: #ffffff;
            background: $navi-blue;
            transition: 0.3s;
        }
    }
    &--submit {
        width: 280px;
        padding: 15px;

        text-transform: uppercase;

        color: #ffffff;
        border: none;
        border-radius: 2px;
        background: $green-btn;

        font-weight: 900;
        line-height: 33px;
        @media ($tablet-widths) {
            width: 300px;
        }
        &:hover {
            background: #1c9b5e;
            transition: 0.3s;
        }
        &:active {
            color: #7dbd99;
            transition: 0.3s;
        }
    }
    &--popup {
        width: 250px;
        margin: 0 auto;
        padding: 15px;

        text-transform: uppercase;

        color: #ffffff;
        border: none;
        border-radius: 2px;
        background: $green-btn;

        font-weight: 900;
        line-height: 33px;
        @media ($tablet-widths) {
            width: 270px;
        }
        @media ($desktop-widths) {
            width: 430px;
        }
    }
}
