.contacts {
  padding: 21px 0 17px;
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  @media ($tablet-widths) {
    flex-direction: row;
    justify-content: space-around;
    min-height: 423px;
    padding-top: 5px;
    margin-bottom: -46px;
  }
  @media ($desktop-widths) {
    justify-content: space-between;
  }

  &__title {
    font-family: $main-font;
    font-size: 24px;
    line-height: 28px;
    font-weight: 300;
    color: $navi-blue;
    margin-bottom: 38px;
    @media ($tablet-widths) {
      font-size: 40px;
      line-height: 49px;
      width: 480px;
      margin-bottom: 17px;
    }
    @media ($desktop-widths) {
      width: 700px;
      padding: 0 200px;
    }
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: $navi-blue;
    @media ($tablet-widths) {
        margin-bottom: 23px;
    }
    @media ($desktop-widths) {
      width: 270px;
    }
    &--tel {
        @media ($tablet-widths) {
            padding-left: 17px;
        }
    }
    &--address {
      @media ($tablet-widths) {
        width: 290px;
      }
    }
    &--link {
        margin-bottom: 23px;
        @media ($tablet-widths) {
            padding-left: 35px;
        }
      @media ($desktop-widths) {
        order: 1;
      }
    }
  }
  &__data {
    font-size: 24px;
    color: $pink;
    font-weight: 300;
    line-height: 37px;

    @media ($tablet-widths) {
        margin-top: 3px;
    }
    @media ($desktop-widths) {
        margin-top: 22px;
    }
    &--street {
        line-height: 30px;
    margin-top: 6px;
    }
  }
}
