.contacts {
  padding: 25px 0;
  @include container;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  @media ($tablet-widths) {
    flex-direction: row;
    justify-content: space-around;
    min-height: 423px;
    // padding: 130px 0;
  }
  @media ($desktop-widths) {
    justify-content: space-between;
  }
  &__title {
    font-family: $main-font;
    font-size: 24px;
    line-height: 24px;
    font-weight: 300;
    color: #283645;
    margin-bottom: 20px;
    @media ($tablet-widths) {
      font-size: 40px;
      line-height: 49px;
      width: 480px;
    }
    @media ($desktop-widths) {
      width: 700px;
      padding: 0 200px;
    }
  }
  &__item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-family: $main-font;
    font-size: 18px;
    line-height: 18px;
    font-weight: 900;
    color: #283645;
    @media ($desktop-widths) {
      width: 270px;
    }
    &--address {
      @media ($tablet-widths) {
        width: 290px;
      }
    }
    &--link {
      @media ($desktop-widths) {
        order: 1;
      }
    }
  }
  &__data {
    font-size: 24px;
    color: #d22856;
    font-weight: 300;
    line-height: 36px;

    @media ($tablet-widths) {
        margin-top: 3px;
    }
    @media ($desktop-widths) {
        margin-top: 22px;
    }
  }
}
