.copyright {
  @media ($mobile-widths-only) {
    margin-left: 22px;
  }
  font-family: $main-font;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: $navi-blue;
  display: flex;
  align-items: center;
  &__link {
      margin-left: 15px;
  align-self: flex-start;
  margin-top: 15px;
  }
}
