.copyright {
    display: flex;

    color: $navi-blue;

    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    align-items: center;
    @media ($desktop-widths) {
        font-size: 18px;
    }
    &__link {
        margin-top: 15px;
        margin-left: 13px;

        align-self: flex-start;
        @media ($desktop-widths) {
            margin-left: 12px;
        }
        &:hover svg {
            fill: $navi-blue;
            transition: 0.3s;
        }
        &:active  {
            opacity: 0.3;
            transition: 0.3s;
        }
    }
    &__svg {
        fill: $pink;
    }
}
