.download {

  min-height: 240px;
  text-align: center;
  background: #1d2631;
  @media ($tablet-widths) {

    background: none;
  }
  @media ($desktop-widths) {
    
  }
  &__description {
    @include main-font(14px, 24px, 300);
    color: #ffffff;
    @media ($tablet-widths) {
      font-size: 18px;
    }
  }
}
