.effect {
  @media ($mobile-widths-only) {
    display: none;
  }
  @media ($tablet-widths) {
    display: block;
    padding-top: 65px;
    padding-bottom: 44px;
    text-align: left;
    background: url("../img/");
  }
  @media ($desktop-widths) {
    background: #f2f2f2;
    padding-top: 70px;
  }

  &__container {
      width: 50%;

    display: flex;
    flex-direction: column;
    @media ($desktop-widths) {
      width: 60%;
    }
  }
  &__title {
    width: 180px;
    font-family: $main-font;
    font-size: 30px;
    line-height: 36px;
    font-weight: 900;
    color: #000000;
    margin-bottom: 10px;
    @media ($desktop-widths) {
      width: 100%;
      margin-bottom: 25px;
    }
  }
  &__content {
    font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
    color: #283645;
    margin-top: 0;
    @media ($desktop-widths) {
      width: 500px;
      font-size: 18px;
      line-height: 35px;
    }
  }
  &__link {
    @media ($desktop-widths) {
      margin-top: 14px;
    }
  }
}
