.events {

&__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @media ($mobile-widths-only) {
    @include container;
  }
  @media ($tablet-widths) {
    padding: 60px 0;
  }
}
&__label {
    margin-top: 20px;
    margin-bottom: 32px;
}
}
