.events {
    @media ($tablet-widths) {
        padding: 60px;
    }
    @media ($desktop-widths) {
        padding: 60px 2px 60px 57px;
    }
    &__wrapper {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
        justify-content: space-between;
        // @include container;
        @media ($mobile-widths-only) {
             @include container;
        }
    }
    &__label {
        margin-top: 20px;
        margin-bottom: 32px;
        &--tower {
            order: -4;
        }
        &--chuck-norris {
            order: -5;
        }
        &--shark {
            order: -6;
        }
    }
}
