.form {
	display: flex;
	flex-direction: column;
	@media ($tablet-widths) {
		@include container;
	}
	@media ($desktop-widths) {
		flex-direction: row;

		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__ctrl {
		text-align: center;
		@media ($mobile-widths-only) {
			@include container;
		}
		@media ($tablet-widths) {
			display: flex;

			@include container;
			justify-content: space-between;
		}
		@media ($desktop-widths) {
			width: 100%;
		}
	}
	&__footnote {
		margin: 0;
		margin-top: 34px;

		text-transform: uppercase;

		color: $navi-blue;

		font-family: $main-font;
		font-size: 17px;
		font-weight: 400;
		line-height: 30px;
		@media ($tablet-widths) {
			margin-top: 18px;
			letter-spacing: 0.02em;
		}
	}
}
