.form-box {
  //   padding: 0;
  //   margin: 0;
  border: none;
  @media ($tablet-widths) {
    border: 2px solid $grey-border;
  }
  &--full-name {
    border: none;
    @media ($tablet-widths) {
      padding: 0;
      margin-left: 0;
      margin-right: 0;
    }
  }
  &--app-edition {
    padding-top: 70px;
    padding-bottom: 24px;
    background: $grey-bg;
    @media ($tablet-widths) {
      background: none;
      padding: 30px 60px;
    }
    @media ($desktop-widths) {
      background: none;
      padding: 30px 57px;
    }
    // // узнать где косяк с модификатором
    // &--filter {
    //   padding-bottom: 50px;
    //   @media ($tablet-widths) {
    //       padding-top: 15px;
    //   }
    // }
  }
  &--events {
    padding-top: 76px;
    padding-bottom: 22px;
    background: $grey-bg;
    @media ($tablet-widths) {
      margin: 0;
      padding-top: 27px;
      margin-bottom: 56px;
      background: none;
    }
  }
  // @media ($tablet-widths) {
  //   background: none;
  // }
}
