.form-box {
    //   padding: 0;
    //   margin: 0;
    border: none;
    @media ($tablet-widths) {
        border: 2px solid $grey-border;
    }
    &--full-name {
        border: none;
        @media ($tablet-widths) {
            margin-right: 0;
            margin-left: 0;
            padding: 0;
        }
    }
    &--app-edition {
        padding-top: 70px;
        padding-bottom: 24px;

        background: $grey-bg;
        @media ($tablet-widths) {
            padding: 30px 60px;

            background: none;
        }
        @media ($desktop-widths) {
            padding: 30px 57px;

            background: none;
        }
    }
    &--events {
        padding-top: 76px;
        padding-bottom: 22px;

        background: $grey-bg;
        @media ($tablet-widths) {
            margin: 0 0 56px;
            padding-top: 27px;

            background: none;
        }
    }
}
