.form {
  @include block-outline (yellow);
  display: flex;
  flex-direction: column;
  @media ($desktop-widths) {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
}
.form__ctrl {
  @media ($mobile-widths-only) {
    @include container;
  }
  @media ($tablet-widths) {
    display: flex;
    justify-content: space-between;
  }
  @media ($desktop-widths) {
    width: 100%;
  }
}