.full-name {
	// @media ($mobile-widths-only) {
	//   @include container;
	// }
	margin-bottom: 6px;
	@media ($tablet-widths) {
		margin-bottom: 12px;
		order: -2;
	}
	@media ($desktop-widths) {
		width: 435px;
		margin-top: 13px;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		@include container;
		align-items: stretch;
		@media ($tablet-widths) {
			display: block;
			width: auto;
		}
	}
	&__input {
		margin-bottom: 10px;
	}
	&__input-container {
		display: flex;
		flex-direction: column;
		@media ($tablet-widths) {
			flex-direction: row;
			margin-bottom: 42px;
			align-items: center;
		}
	}
}