.input {
    // margin: 0;
    padding: 13px 20px;

    color: $navi-blue;
    border: 2px solid $grey-border;
    border-radius: 2px;
    outline: none;

    font-family: $main-font;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    @media ($tablet-widths) {
        padding: 15px 20px;
    }
    &::-webkit-input-placeholder {
        color: $navi-blue;

        font-family: $main-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
    &:-moz-placeholder {
        color: $navi-blue;

        font-family: $main-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
    &:-ms-input-placeholder {
        color: $navi-blue;

        font-family: $main-font;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
    }
    &--full-name {
        flex-grow: 1;
    }
    &--user-contacts {
        @media ($tablet-widths) {
            width: 447px;
            margin: 20px auto;
        }
        @media ($desktop-widths) {
            width: 331px;
        }
    }
}
