.intro {
    background: url("../img/iphone-hand-mobile.png") no-repeat center 23%;
    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
        background: url("../img/iphone-hand-mobile@2x.png") no-repeat center 23%;
        background-size: 258px auto;
    }
  @media ($tablet-widths) {
    @include container;
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 106px;
    background: none;
    background: url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom;
    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
        background: url("../img/iphone-hand-tablet@2x.png") no-repeat center bottom;
        background-size: 700px auto;
    }
  }
  @media ($desktop-widths) {
    background: url("../img/iphone-hand-desktop@1x.png") no-repeat center bottom;
    @media (min-resolution: 144dpi),
          (min-resolution: 1.5dppx) {
        background: url("../img/iphone-hand-desktop@2x.png") no-repeat center bottom;
        background-size: 1050px auto;
    }
  }
  @media ($desktop-widths) {
    padding-top: 77px;
    padding-bottom: 93px;
  }
  &--inner-page {
    @include container;
    padding: 33px 0 54px;
    text-align: center;
    @media ($tablet-widths) {
      padding: 72px 0 138px;
      background: none;
    }
    @media ($desktop-widths) {
      padding: 64px 0 101px;
    }
  }
  &--form-page {
    padding: 20px 0 39px;
    @media ($tablet-widths) {
      padding: 0 0 76px;
    }
    @media ($desktop-widths) {
      padding: 24px 0 100px;
    }
  }
  &__img-container {
    @media ($mobile-widths-only) {
      width: 320px;
      margin: 0 auto;
      height: 391px;
    //   background: url("../img/bg-back-mobile-iphone-5.png") no-repeat -7% 135%;
    }
  }
  &__title {
    // @media ($mobile-widths-only) {
    //   display: none;
    // }
    @include container;
    text-align: center;
    margin-bottom: 311px;
    font-family: $main-font;
    font-size: 24px;
    line-height: 27px;
    font-weight: 300;
    color: #ffffff;
    @media ($tablet-widths) {
      font-family: $main-font;
      font-size: 40px;
      line-height: 49px;
      font-weight: 300;
      margin-bottom: 0;
      color: #ffffff;
      display: block;
      width: 240px;
      margin: 0 0 0 29px;
    }
    @media ($desktop-widths) {
      font-size: 50px;
      line-height: 62px;
      margin-left: 32px;
    }
    &--inner-page {
        margin-bottom: 0;
      font-family: $main-font;
      font-size: 24px;
      line-height: 27px;
      font-weight: 300;
      color: #ffffff;
      @media ($tablet-widths) {
        width: auto;
        margin: 0 auto;
        font-size: 50px;
        line-height: 60px;
      }
      @media ($desktop-widths) {
        width: 500px;
      }
    }
    &--form-page {
      @media ($desktop-widths) {
        width: 780px;
      }
    }
  }
  &__download {
    padding-top: 28px;
    @media ($tablet-widths) {
      padding-top: 30px;
      padding-right: 325px;
    }
    @media ($desktop-widths) {
      padding-right: 640px;
      padding-top: 54px;
    }
  }
}
