.intro {
  @media ($tablet-widths) {
    margin-top: 0;
    padding-top: 20px;
    padding-bottom: 109px;
    background: none;
    background: url("../../img/bg-back-tablet-iphone-5.png") no-repeat center bottom;
  }
  @media ($desktop-widths) {
    background: url("../../img/bg-back-desktop-iphone-5.png") no-repeat center bottom;
  }
  @media ($desktop-widths) {
    padding-top: 70px;
    padding-bottom: 121px;
  }
  &--inner-page {
    @include container;
    padding: 50px 0;
    text-align: center;
    @media ($tablet-widths) {
      padding: 146px 0;
    }
    @media ($desktop-widths) {
      padding: 119px 0;
    }
  }
  &__img-container {
    @media ($mobile-widths-only) {
      width: 320px;
      margin: 0 auto;
      height: 391px;
      background: url("../../img/bg-back-mobile-iphone-5.png") no-repeat -7% 135%;
    }
  }
  &__container {
    @media ($mobile-widths-only) {
      background: #1d2631;
    }
  }
  &__wrapper {
    @include container;
  }
  &__title {
    @media ($mobile-widths-only) {
      display: none;
    }
    @media ($tablet-widths) {
      @include main-font(40px, 49px, 300);
      color: #ffffff;
      display: block;
      width: 240px;
      text-align: center;
      margin: 0 0 0 29px;
    }
    @media ($desktop-widths) {
      font-size: 50px;
      line-height: 58px;
      margin-left: 32px;
    }
    &--inner-page {
      display: block;
    }
  }
}
