.intro {
	background: url("../img/iphone-hand-mobile.png") no-repeat center 23%;
	@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
		background: url("../img/iphone-hand-mobile@2x.png") no-repeat center 23%;
		background-size: 258px auto;
	}
	@media ($tablet-widths) {
		width: 620px;
		margin-top: 0;
		padding-top: 33px;
		padding-bottom: 106px;

		background: none;
		background: url("../img/iphone-hand-tablet@1x.png") no-repeat center bottom;

		@include container;
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background: url("../img/iphone-hand-tablet@2x.png") no-repeat center bottom;
			background-size: 700px auto;
		}
	}
	@media ($desktop-widths) {
		padding-top: 67px;
		padding-bottom: 118px;

		background: url("../img/iphone-hand-desktop@1x.png") no-repeat -15% bottom;
		@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
			background: url("../img/iphone-hand-desktop@2x.png") no-repeat -15% bottom;
			background-size: 1050px auto;
		}
	}
	@media ($desktop-widths) {
		padding-top: 77px;
		padding-bottom: 117px;
	}
	&--inner-page {
		padding: 4px 0 86px;

		text-align: center;

		background: none;

		@include container;
		@media ($tablet-widths) {
			padding: 72px 0 138px;

			background: none;
		}
		@media ($desktop-widths) {
			padding: 64px 0 101px;
		}
	}
	&--form-page {
		padding: 5px 0 55px;
		@media ($tablet-widths) {
			padding: 11px 0 78px;
		}
		@media ($desktop-widths) {
			padding: 31px 0 100px;
		}
	}
	&__img-container {
		@media ($mobile-widths-only) {
			width: 320px;
			height: 391px;
			margin: 0 auto;
			//   background: url("../img/bg-back-mobile-iphone-5.png") no-repeat -7% 135%;
		}
	}
	// @include должен быть в начале св-в, csscomb сортирует его в конец,
	// в итоге m-tщз311px переопределяется в 0px
	&__title {
		width: 280px;
		margin: 0 auto;
		margin-bottom: 311px;

		text-align: center;

		color: #fff;

		font-family: $main-font;
		font-size: 24px;
		font-weight: 300;
		line-height: 27px;






		// @media ($mobile-widths-only) {
		//   display: none;
		// }
		@media ($tablet-widths) {
			display: block;

			width: 240px;
			margin: 0 0 0 29px;

			color: #fff;

			font-family: $main-font;
			font-size: 40px;
			font-weight: 300;
			line-height: 49px;
		}
		@media ($desktop-widths) {
			width: 241px;
			margin-left: 29px;

			font-size: 50px;
			line-height: 62px;
			line-height: 61px;
		}
		&--inner-page {
			margin-bottom: 0;

			color: #fff;

			font-family: $main-font;
			font-size: 24px;
			font-weight: 300;
			line-height: 27px;
			@media ($tablet-widths) {
				width: auto;
				margin: 0 auto;

				font-size: 50px;
				line-height: 60px;
			}
			@media ($desktop-widths) {
				width: 500px;
			}
		}
		&--form-page {
			line-height: 28px;
			@media ($tablet-widths) {
				width: 540px;

				line-height: 61px;
			}
			@media ($desktop-widths) {
				width: 780px;
			}
		}
	}
	&__download {
		padding-top: 26px;
		padding-bottom: 5px;
		@media ($tablet-widths) {
			padding-top: 30px;
			padding-right: 321px;
		}
		@media ($desktop-widths) {
			padding-top: 48px;
			padding-right: 640px;
		}
	}
}
