.legend {
  text-align: center;
  width: 250px;
  font-family: $main-font;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400;
  color: $pink;
  text-transform: uppercase;
  @media ($tablet-widths) {
    width: auto;
    padding: 0 32px;
  }
  &--events {
    position: relative;
    top: 54px;
    @media ($tablet-widths) {
      position: static;
    }
  }
  &--user-contacts {
    display: none;
    @media ($tablet-widths) {
      display: block;
    }
  }
  &--app-edition {
    position: relative;
    top: 54px;
    @media ($tablet-widths) {
      width: auto;
      position: static;
    }
    @media ($desktop-widths) {
        max-width: none;
      width: 119%;
      white-space: nowrap;
      padding: 0;
    }
  }
}
