.legend {
    width: 250px;

    text-align: center;
    text-transform: uppercase;

    color: $pink;

    font-family: $main-font;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    @media ($tablet-widths) {
        width: auto;
        padding: 0 32px;
    }
    &--events {
        position: relative;
        top: 54px;
        @media ($tablet-widths) {
            position: static;
        }
    }
    &--user-contacts {
        display: none;
        @media ($tablet-widths) {
            display: block;
        }
    }
    &--app-edition {
        position: relative;
        top: 54px;
        @media ($tablet-widths) {
            position: static;

            width: auto;
        }
        @media ($desktop-widths) {
            width: 119%;
            max-width: none;
            padding: 0;

            white-space: nowrap;
        }
    }
}
