.like {
    display: flex;
    flex-direction: row-reverse;

    width: 240px;
    margin: 10px auto 20px;

    justify-content: flex-end;
    align-items: center;
    @media ($tablet-widths) {
        flex-direction: row;

        margin-top: 13px;
        margin-bottom: 24px;

        justify-content: space-between;
    }
    // блок like трансформируется в панораме
    &--panorama {
        @media ($tablet-widths) {
            width: 113px;
            margin-top: 25px;
            margin-right: 30px;
            margin-bottom: 0;

            order: -1;
        }
    }
    &__btn {
        margin-right: 18px;
    margin-left: -3px;
        @media ($tablet-widths) {
            margin-right: 0;
        }
    }
    // количество лайков
    &__output {
        text-transform: uppercase;

        color: $pink;

        font-family: $main-font;
        font-size: 12px;
        font-weight: 400;
        line-height: 24px;
    }
}
