.link {
  @include main-font(14px, 24px, 400);
  color: #d22856;
  &--effect {
    @media ($tablet-widths) {
      font-size: 18px;
      line-height: 30px;
    }
  }
  &--contacts {
    font-size: 24px;
    text-decoration: none;
    font-weight: 300;
    line-height: 36px;
  }
  &--copyright {
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 59px;
    height: 78px;
    background: url("../img/htmlacademy.svg") no-repeat 100% 100%;
  }
}
