.list {
    display: flex;
    flex-direction: column-reverse;
    @media ($tablet-widths) {
        flex-direction: row;

        justify-content: space-around;
        align-content: center;
    }
    @media ($desktop-widths) {
        flex-direction: column;
    }
    &__item {
        @media ($mobile-widths-only) {
            text-align: center;
        }
        @media ($desktop-widths) {
            display: inline-flex;

            width: 33.333333%;

            justify-content: space-around;
        }
        &--no_tablet {
            display: none;
            @media ($desktop-widths) {
                display: inline-flex;
            }
            &:first-child {
                @media ($desktop-widths) {
                    width: 32%;
                }
            }
        }
        &--main {
            @media ($mobile-widths-only) {
                overflow: hidden;
            }
            @media ($tablet-widths) {
                margin-top: 6px;
            }
            @media ($desktop-widths) {
                margin-top: 0;
                width: 31%;
            }
        }
    }
    &__row {
        @media ($tablet-widths) {
            width: 50%;
        }
        @media ($desktop-widths) {
            display: flex;

            width: 100%;
        }
        &--text {
            margin-bottom: 9px;
            @media ($tablet-widths) {
                margin-top: 74px;
            }
            @media ($desktop-widths) {
                margin-top: 52px;
            }
        }
        &--img {
            @media ($desktop-widths) {
                align-items: flex-start;
                justify-content: space-between;
            }
        }
    }
}
