.logo {
  width: 75px;
  height: 24px;
  display: block;
  @media ($tablet-widths) {
    width: 147px;
    height: 40px;
  }
  &--inner-page {
    @media ($mobile-widths-only) {
      width: 147px;
      height: 40px;
    }
  }
  &__svg {
      &--mobile {
          display: none;
          @media ($mobile-widths-only) {
              display: block;
          }
      }
      &--tablet {
          display: none;
          @media ($tablet-widths) {
              display: block;
          }
          @media ($desktop-widths) {
              display: none;
          }
      }
      &--desktop {
          display: none;
          @media ($desktop-widths) {
              display: block;
          }
      }
  }
}
