.main-header {
  @include block-outline (purple);
  background: rgba(0, 0, 0, 0.3);
  min-height: 66px;
  @media ($tablet-widths) {
    min-height: 110px;
  }
}
// зачем-то сделали увеличение хэдэра на мобилке при открытии меню, а на планшете не скачет, может вообще не трогать высоту?
// стили для открытого меню
.main-header--mobile-menu_visible {
  background: #283645;
  min-height: 70px;
}
.main-header--tablet-menu_visible {
  background: #283645;
}
.main-header__wrapper {
  @include container;
  @include clearfix;
}
.main-header__logo {
  float: left;
}
