.main-nav {
  position: relative;
  @media ($desktop-widths) {
    float: right;
    width: 80%;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
    // position: absolute;
    // top: 71px;
    // left: 50%;
    // margin-left: -160px;
    // width: 320px;
    background: $navi-blue;
    @media ($tablet-widths) {
    //   width: 700px;
    //   margin-left: -350px;
    }
    @media ($desktop-widths) {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      position: static;
      flex-wrap: wrap;
      min-height: auto;
      background: none;
      margin-left: 119px;
      width: 657px;
      margin-top: 31px;
    }
    &--visible {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
  &__item {
    text-align: center;
    border-top: 1px solid #495562;
    border-bottom: 1px solid #030303;
    @media ($desktop-widths) {
      display: inline-block;
      margin-right: 60px;
      border-top: none;
      border-bottom: none;
    }
    &:last-child {
        margin-right: 0;
    }
  }
  &__link {
    display: block;
    padding: 15px 10px;
    font-family: $main-font;
    font-size: 18px;
    line-height: 32px;
    font-weight: 900;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    @media ($desktop-widths) {
      line-height: 18px;
      font-weight: 400;
      text-transform: capitalize;
    }
  }
}
