.main-footer {
    display: flex;
    flex-direction: column;

    min-height: 230px;

    @include container;
    justify-content: space-around;
    align-items: center;
    @media ($tablet-widths) {
        flex-direction: row;
        // padding: 20px 0;

        min-height: 125px;

        justify-content: space-between;
    }
    @media ($desktop-widths) {
        min-height: 191px;
    }
    &--index {
        @media ($mobile-widths-only) {
            display: none;
        }
    }
    &--inner-page {
        min-height: 240px;
        padding: 31px 0 17px;
    }
    &__logo {
        margin-bottom: 17px;
    }
    &__social {
        margin-right: 18px;
        @media ($desktop-widths) {
            margin-top: 6px;
            margin-right: 0;
        }
    }
    &__copyright {
        min-height: 48px;
    }
}
