.main-footer {
  @include block-outline (blue);
  @include container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0;
  min-height: 230px;
  @media ($tablet-widths) {
    min-height: 128px;
    flex-direction: row;
    justify-content: space-between;
  }
  @media ($desktop-widths) {
    min-height: 200px;
  }
}
.main-footer--hidden {
  @media ($mobile-widths-only) {
    display: none;
  }
}
