.main-header {
  background: #283645 url("../img/bg-back-mobile.jpg") no-repeat center top;

  @media ($tablet-widths) {
    background: #283645 url("../img/bg-back-tablet.jpg") no-repeat center top;
    
  }
  @media ($desktop-widths) {
    background: #283645 url("../img/bg-back-desktop.jpg") no-repeat center top;
    background-size: cover;
    margin-bottom: 40px;
  }
  &--mobile-menu_visible {
    background: #283645;
    border-bottom: 1px solid #030303;
  }
  &--tablet-menu_visible {
    background: #283645;
  }
  &__top-panel {
    background: rgba(0, 0, 0, 0.3);
    min-height: 70px;
    margin-bottom: 27px;
    @media ($tablet-widths) {
      min-height: 110px;
      margin-bottom: 72px;
    }
    @media ($desktop-widths) {
      margin-bottom: 40px;
    }
  }
  &__wrapper {
    @include container;
    // @include clearfix;
  }
  &__logo {
    float: left;
    margin-top: 21px;
    @media ($tablet-widths) {
      margin-top: 27px;
    }
  }
  &--inner-page {
    @media ($tablet-widths) {
      margin-bottom: 0;
    }
  }
}
