.os-icons {
  margin-top: 32px;
  margin-bottom: 18px;
  width: 205px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  @media ($tablet-widths) {
    margin-top: 47px;
    margin-bottom: 34px;
  }
  @media ($desktop-widths) {
    margin-left: 47px;
    margin-top: 69px;
    margin-bottom: 58px;
  }
}
