.page {
  // background: url("../img/bg-back-mobile.jpg") no-repeat center top;
  font-family: "Open Sans";
  font-size: 14px;
  color: #283645;
  font-weight: 400;
  position: relative;
  // max-width: 320px;
  margin: 0 auto;
  @media ($tablet-widths) {
    // background: url("../img/bg-back-tablet.jpg") no-repeat center top;
  }
  @media ($desktop-widths) {
    // background: url("../img/bg-back-desktop.jpg") no-repeat center top;
  }
}
.page--form {
  position: relative;
}
