.post {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 60px 0 30px;
  text-align: center;
  align-items: center;
  @media ($tablet-widths) {
    flex-direction: column-reverse;
  }
  // &__wrapper {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //
  // }
  &--active {
      display: flex;
  }
  &--hidden {
      display: none;
  }
  &__author {
    @include main-font(18px, 30px, 900);
    color: #000000;
    font-style: normal;
    @media ($tablet-widths) {
      font-size: 20px;
    }
    @media ($desktop-widths) {
      font-size: 24px;
    }
  & cite {
      font-style: normal;
  }
  & span {
    display: none;
    @media ($tablet-widths) {
      display: block;
      font-size: 18px;
      font-weight: 400;
      color: #283645;
    }
}
  }
  &__text {
    @include main-font(14px, 30px, 400);
    color: #283645;
    @media ($tablet-widths) {
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 35px;
    }
    @media ($desktop-widths) {
      width: 680px;
    }
  }
}
