.post-photo {
	display: flex;
	flex-direction: column;

	background: $grey-bg;

	justify-content: space-between;
	align-items: flex-start;
	@media ($tablet-widths) {
		position: relative;

		display: block;

		min-height: 455px;
		min-height: 429px;
		padding-bottom: 25px;
	}
	@media ($desktop-widths) {
		min-height: 497px;
		padding-bottom: 58px;
	}

	// блок с КАРТИНКОЙ панорама
	&--panorama {
		width: 100%;
		margin: 0;
		padding: 0;

		background: none;
		// margin-bottom: 20px;
        @media ($tablet-widths) {
            display: flex;
        }
	}
	// блок с КОНТЕНТОМ панорамы (автор и т.д.)
	&--panorama-container {
		display: flex;
		flex-direction: row;

		min-height: 0;
		margin-top: -4px;
		margin-bottom: 20px;
		padding-bottom: 0;

		flex-wrap: wrap;
		@media ($tablet-widths) {
			margin-bottom: 50px;
		}
		@media ($desktop-widths) {
			margin-bottom: 47px;
		}
	}
	// обертка img панорамы центрует (дектоп img если ширниа меньше)
	&__picture {
		margin: 0 auto;
	}
	// &__img {
	//   margin: 0 auto;
	// }
	&__banner {
		position: absolute;
		top: 0;
		right: 0;

		width: 141px;
		padding: 6px 0;

		text-align: center;
		text-transform: uppercase;

		color: #fff;
		background: $pink;

		font-family: $main-font;
		font-size: 12px;
		font-weight: 900;
		line-height: 24px;
		@media ($tablet-widths) {
			top: 58px;
		}
		@media ($desktop-widths) {
			top: 54px;
		}
	}
	// автор поста
	&__author {
		width: 242px;
		margin: 13px auto 0;

		color: $navi-blue;

		font-family: $main-font;
		font-size: 14px;
		font-weight: 900;
		line-height: 24px;
		@media ($tablet-widths) {
			margin-top: 19px;
		}
		&--panorama {
			margin-top: 18px;
			@media ($tablet-widths) {
				width: 152px;
				margin-top: 25px;
				margin-left: 27px;

				order: -2;
			}
		}
	}
	// время поста
	&__time {
		text-transform: uppercase;

		font-size: 12px;
		font-weight: 300;
	}
	// описание поста
	&__description {
		width: 242px;
		margin: 0 auto;

		color: $navi-blue;

		font-family: $main-font;
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		&--panorama {
			@media ($tablet-widths) {
				width: 566px;
				margin-bottom: 25px;

				align-self: flex-start;
			}
			@media ($desktop-widths) {
				width: 885px;
			}
		}
	}
}
