.post-photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: $grey-bg;
  // блок с КАРТИНКОЙ панорама
  &--panorama {
    margin: 0;
    width: 100%;
    background: none;
    // margin-bottom: 20px;
  }
  // блок с КОНТЕНТОМ панорамы (автор и т.д.)
  &--panorama-container {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -4px;
    margin-bottom: 20px;
    @media ($desktop-widths) {
      margin-bottom: 40px;
    }
  }
  // обертка img панорамы центрует (дектоп img если ширниа меньше)
  &__picture {
    @media ($desktop-widths) {
      margin: 0 auto;
    }
  }
  &__img {
    margin: 0 auto;
  }
  &__banner {
    position: absolute;
    right: 0;
    top: 0;
    width: 141px;
    /* height: 36px; */
    padding: 6px 0;
    background: $pink;
    font-family: $main-font;
    font-size: 12px;
    line-height: 24px;
    font-weight: 900;
    color: #ffffff;
    text-align: center;
    @media ($tablet-widths) {
      top: 54px;
    }
  }
  // автор поста
  &__author {
    width: 242px;
    margin: 18px auto 0;
    font-family: $main-font;
    font-size: 14px;
    line-height: 24px;
    font-weight: 900;
    color: $navi-blue;
    @media ($tablet-widths) {
      margin-top: 24px;
    }
    &--panorama {
      @media ($tablet-widths) {
        width: 152px;
        margin-left: 30px;
        order: -2;
        margin-top: 25px;
      }
    }
  }
  // время поста
  &__time {
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;
  }
  // описание поста
  &__description {
    width: 242px;
    margin: 0 auto;
    font-family: $main-font;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
    color: $navi-blue;
    &--panorama {
      @media ($tablet-widths) {
        width: 560px;
        margin-bottom: 25px;
      }
      @media ($desktop-widths) {
        width: 880px;
      }
    }
  }
}
