.price {
  background: #f2f2f2;
  padding-top: 70px;
  @media ($mobile-widths-only) {
    min-height: 400px;
    width: 100%;
    overflow: hidden;
  }
  @media ($tablet-widths) {
    padding-bottom: 100px;
  }
  @media ($desktop-widths) {
    padding: 120px;
  }
  &__slider {
    position: relative;
    @include container;
    // @media ($mobile-widths_only) {
    //   max-width: 320px;
    //   margin: 0 auto;
  }
}
