.purchases {
  // @include block-outline (yellow);
  width: 808px;
  transform: translateX(-243px);
  @media ($tablet-widths) {
      width: 620px;
      transform: translateX(40px);
  }
  @media ($desktop-widths){
      width: 940px;
      transform: translateX(0px);
  }
}

// .slider__wrapper overflow hidden - прячет края таблицы
.purchases td{
  border: 2px solid #e5e5e5;
  padding: 12px 20px;
  @media ($tablet-widths) {
      display: table-cell;
      padding: 12px 10px;
  }
  @media ($desktop-widths) {
      padding: 20px 10px;
  }
}
// при стилизации уберу селктор по тегу
.purchases .purchases__kit {
    text-align: center;
    padding: 36px 20px;
    @media ($desktop-widths) {
        padding: 38px 20px;
    }
}

.purchases__feature span {
    @media ($tablet-widths) {
        display: none;
    }
}

.purchases__feature--mobile_hidden {
  display: none;
  @media ($tablet-widths) {
      display: table-cell;
  }
}
.purchases__empty-cell {
  display: none;
  @media ($tablet-widths) {
      display: table-cell;
  }
}
