.radio {
    &--app-edition {
        margin-top: 20px;
        margin-right: 40px;
        margin-bottom: 20px;
        &:checked ~ .control__indicator {
            background-image: url("../img/icon-circle.svg");
        }
    }
}
