.slider {
    position: relative;
    &__switcher {
        display: none;
    }
    // &__slide {
    //   display: none;
    //   &--1 {
    //     display: block;
    //   }
    // }
    // блок управления слайдерами
    &__nav {
        position: relative;

        width: 80px;
        height: 10px;
        margin-left: -40px;

        text-align: center;
        &--reviews {
            z-index: 5;
            bottom: 13px;
            left: 50%;

            margin-left: -40px;
            @media ($desktop-widths) {
                display: none;
            }
        }
        &--table {
            z-index: 5;
            top: 40px;
            left: 50%;

            margin-left: -40px;
            @media ($tablet-widths) {
                display: none;
            }
        }
        // @media ($tablet-widths) {
        //     bottom: 94px;
        // }
    }
    &__wrapper {
        // overflow: hidden;
        @media ($tablet-widths) {
            //   overflow: auto;
        }
        // @media ($desktop-widths) {
        //   @include container;
        // }
    }
    // стрелки управоения отзывами
    &__arrow {
        display: none;
        @media ($desktop-widths) {
            position: absolute;
            top: 26%;

            display: block;

            width: 30px;
            height: 30px;

            opacity: 0.3;
            border: none;
            border-top: 2px solid $navi-blue;
            border-left: 2px solid $navi-blue;
            outline: none;
            background: #ffffff;
            &:hover {
                opacity: 0.6;
            }
            &:active {
                opacity: 0.1;
            }
        }
        &--left {
            left: 6px;

            transform: rotate(-45deg);
        }
        &--right {
            right: 6px;

            transform: rotate(135deg);
        }
    }
}
