.social {
  display: flex;
  width: 177px;
  justify-content: space-between;
  &__item {
    display: block;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #e9ebec;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    // &--tw {
    //   background: url("../img/icon-twitter.svg") no-repeat center center;
    // }
    // &--fb {
    //   background: url("../img/icon-facebook.svg") no-repeat center center;
    // }
    // &--ytb {
    //   background: url("../img/icon-youtube.svg") no-repeat center center;
    // }
    & svg path {
        fill: $pink;
    }
    &:hover svg path {
        fill: red;
    }
  }
}
