.social {
    display: flex;

    width: 177px;

    justify-content: space-between;
    &__item {
        display: block;

        width: 47px;
        height: 47px;

        text-align: center;

        border: 3px solid #e9ebec;
        border-radius: 50%;

        line-height: 52px;
        &:hover {
            border: 3px solid $navi-blue;
            transition: 0.3s;
        }
        &:active {
            opacity: 0.3;
            transition: 0.3s;
        }
        &--ytb svg {
            margin-left: 4px;
        }

    }
    &__svg {
        fill: $pink;
    }
}
