.t-cell {
  border: 2px solid $grey-border;
  padding: 15px 22px 14px;
  background: #ffffff;
  @media ($tablet-widths) {
    display: table-cell;
    padding: 7px 10px;
  }
  @media ($desktop-widths) {
    padding: 20px 10px;
  }
  &--border-top_hidden {
    border-top: none;
  }
}
