.textarea {
	width: 236px;
	height: 170px;
	margin: 0;
	padding: 13px 20px;

	color: $navi-blue;
	border: 2px solid $grey-border;
	border-radius: 2px;
	outline: none;

	font-family: $main-font;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	@media ($tablet-widths) {
		width: 77%;
		height: 163px;
		padding-left: 16px;
	}
	@media ($desktop-widths) {
		width: 95%;
		height: 98px;
	}
	&:hover {
		transition: 0.3s;

		border-color: $navi-blue;
	}
	&:focus {
		transition: 0.3s;

		border-color: $pink;
	}

	&::-webkit-input-placeholder {
		color: $navi-blue;

		font-family: $main-font;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}
	&:-moz-placeholder {
		color: $navi-blue;

		font-family: $main-font;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}
	&:-ms-input-placeholder {
		color: $navi-blue;

		font-family: $main-font;
		font-size: 18px;
		font-weight: 400;
		line-height: 30px;
	}
}
