.textarea {
  margin: 0;
  padding: 13px 20px;
  @include main-font(18px, 30px, 400);
  color: #283645;
  border: 2px solid #e5e5e5;
  border-radius: 2px;
  outline: none;
  width: 236px;
  height: 173px;
  @media ($tablet-widths) {
    width: 448px;
  }
  @media ($desktop-widths) {
    width: 772px;
  }
  &::-webkit-input-placeholder {
    @include main-font(18px, 30px, 400);
    color: #283645;
  }
  &:-moz-placeholder {
    @include main-font(18px, 30px, 400);
    color: #283645;
  }
  &:-ms-input-placeholder {
    @include main-font(18px, 30px, 400);
    color: #283645;
  }
}
