.textarea {
  margin: 0;
  padding: 13px 20px;
  font-family: $main-font;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: $navi-blue;
  border: 2px solid $grey-border;
  border-radius: 2px;
  outline: none;
  width: 236px;
  height: 173px;
  @media ($tablet-widths) {
    width: 448px;
  }
  @media ($desktop-widths) {
    width: 772px;
  }
  &::-webkit-input-placeholder {
    font-family: $main-font;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
    color: $navi-blue;
  }
  &:-moz-placeholder {
    font-family: $main-font;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
    color: $navi-blue;
  }
  &:-ms-input-placeholder {
    font-family: $main-font;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
    color: $navi-blue;
  }
}
