.upload {
    position: relative;

    padding-top: 20px;

    background: $grey-bg;
    @media ($tablet-widths) {
        padding-top: 41px;
            padding-bottom: 14px;
    }
    @media ($desktop-widths) {
         @include container;
         padding-bottom: 16px;
    }
}
