.user-emotions {

    @media ($mobile-widths-only) {
         @include container;
         margin-bottom: 32px;
    }

    @media ($tablet-widths) {
        margin-bottom: 65px;
        text-align: center;
    padding-top: 23px;
    padding-bottom: 48px;
    }
    @media ($desktop-widths) {
        width: 100%;
        margin: 0 0 65px;
        padding: 21px 60px 38px;
    }
    &__title {
        margin-bottom: 13px;
    }
}
