.user-contacts {
  padding: 23px 0;
  @media ($mobile-widths-only) {
    @include container;
  }
  @media ($tablet-widths) {
    order: -1;
  }
  @media ($desktop-widths) {
    width: 100%;
    padding: 0;
  }

&__wrapper {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  @media ($desktop-widths) {
    flex-direction: row;
    align-items: center;
  }
}
&__input {
    margin-bottom: 10px;
}
&__input-container {
  display: flex;
  flex-direction: column;
  @media ($tablet-widths) {
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: flex-start;
  }
}
}
