.wrapper {
  @include container;
  &--clearfix {
    @include clearfix;
  }
  &--download {
      @media ($tablet-widths) {
          width: auto;
          margin: 0;
      }
  }
  &--effect {
      justify-content: space-between;
    display: flex;
  }
  &--post-photo {
    width: 240px;
  }
  &--intro {
    position: relative;
  }
  &--panorama-banner {
    position: relative;
  }
}
