.wrapper {
  @include container;
  &--clearfix {
    @include clearfix;
  }
  &--post-photo {
    width: 240px;
  }
  &--intro {
    position: relative;
  }
  &--panorama-banner {
    position: relative;
  }
}
