.wrapper {
  @include container;
  &--clearfix {
    @include clearfix;
  }
  // &--top-panel {
  //     padding-bottom: 20px;
  // }
  // &--menu-visible {
  //         border-bottom: 1px solid #030303;
  // }
  &--download {
      @media ($tablet-widths) {
          width: auto;
          margin: 0;
      }
  }
  &--effect {
      justify-content: space-between;
    display: flex;
  }
  &--post-photo {
    width: 240px;
  }
  &--intro {
    position: relative;
  }
  &--panorama-banner {
    position: relative;
  }
  &--advantages {
      position: relative;
  }
}
